.list-view {
    -fx-background-color: #323232;
    -fx-border-width: 1.5;
    -fx-border-color: #555555;
    -fx-font-family: "Helvetica";
    -fx-font-size: 13px;
    -fx-font-style: italic bold;
}

.list-view:pressed {
    -fx-border-color: #646464;
}

.list-cell:even {
    -fx-background-color: #353535;
    -fx-text-fill: #a9b7c6;
}

.list-cell:odd {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #a9b7c6;
}

.list-cell:filled:hover {
    -fx-background-color: #303030;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2d2d2d;
}

.list-cell .label {
    -fx-text-fill: #a9b7c6;
}

.hyperlink, #clearList {
    -fx-font-size: 1;
    -fx-border-width: 0;
}

.hyperlink .glyph-icon, #clearList .glyph-icon {
    -fx-fill: #b45959;
}

.hyperlink:hover > .glyph-icon, #clearList:hover > .glyph-icon {
    -fx-fill: #b4383e;
}

.hyperlink:pressed > .glyph-icon, #clearList:pressed > .glyph-icon {
    -fx-fill: #af0e0f;
}

#filesDirectory {
    -fx-font-size: 1;
    -fx-border-width: 0;
}

#filesDirectory .glyph-icon {
    -fx-fill: #8896a5;
}

#filesDirectory:hover > .glyph-icon {
    -fx-fill: #a9b7c6;
}

#filesDirectory:pressed > .glyph-icon {
    -fx-fill: #cfdceb;
}